## .NET
bin/
obj/
*.user
*.suo
*.vs/
.idea/

## NuGet
*.nupkg
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## Test results
TestResults/
coverage/
*.coverage
*.coveragexml

## OS
.DS_Store
Thumbs.db
